<%- include('partials/head.ejs') %>
<body>

   <div class="container">
    <br>
    <div class="title text-center">
        <h1>CODIGOBOOKSTORENOW</h1>
    </div>
    <br>
    <div class="form">
        <div class="form-config">
            <form action="" method="post"></form>
            <label for ="">Digite seu e-mail</label>
            <div><input type="email" class="btn btn-ligth" name="" id="" placeholder ="e-mail"></div><br>
            <label for ="">Digite sua senha</label>
            <div><input type="password" class="btn btn-ligth" name=" id=""placeholder="senha"></div><br>
            <label for ="">Confirme sua senha</label>
            <div><input type="password" class="btn btn-ligth" name=" id=""placeholder="Confirmar senha"></div><br>
            <div><input type="submit" class="btn btn-sucess" name="" id=""value="Cadastrar"></div>
        </div>
    </div>
   </div>
    
</body>
<%- include('partials/footer.ejs') %>
