<%- include('partials/head.ejs') %>
<body>

   <div class="container">
    <br>
    <div class="title text-center">
        <h1>CODIGOBOOKSTORENOW</h1>
    </div>
    <br>
    <div class="form">
        <div class="form-config">
            <form action="" method="post"></form>
            <label for ="">e-mail</label>
            <div><input type="email" class="btn btn-ligth" name="" id="" placeholder ="Digite seu e-mail"></div><br>
            <label for ="">senha</label>
            <div><input type="password" class="btn btn-ligth" name=" id=""placeholder="Digite sua senha"></div>
            <p><a href="/cadastro">Criar cadastro</a></p>
            <div><input type="submit" class="btn btn-sucess" name="" id=""value="Logar"></div>
        </div>
    </div>
   </div>
    
</body>
<%- include('partials/footer.ejs') %>
